/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --main-font-size: 18px;

  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --h2-color: #FF0070;
  --button-color: #FF0070;
  --button-color-hover: #FF007066;
  --h1-color: #DB00FF;
  --h1-color-shadow: #FF0070;
  --background-img: url('../images/cover-image-dark.png');
  --decor-color: #000028;
  --border-color: #FF0070;
}
